@import url("../../colors.css");

.button-container {
  margin: 0rem 0.8rem;
  position: relative;
}

.button-container > * {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  height: 3rem;
  font-weight: 300;
  border-radius: 1000px;
  border: none;
  outline: none;
  color: var(--text-white);
  backface-visibility: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.button-container *:hover {
  transform: scale(103%);
}

.button-container *.color-0 {
  background-color: var(--primary-0);
}
.button-container *.color-1 {
  background-color: var(--primary-1);
}
.button-container *.color-gradient {
  background: linear-gradient(45deg, var(--primary-0), var(--primary-1));
}

.button-container *.color-error {
  background-color: var(--error);
}

.button-container .glow {
  /* content: ""; */
  position: absolute;
  z-index: 0; 
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
}

.button-container button {
  filter: opacity(1);
  transition: 0.3s;
}

.button-container button.disabled {
  cursor: default;
  /* filter: brightness(50%);
  transform: scale(100%); */
  filter: opacity(0.3);
  transition: 0.3s;
}
