@import url("../../colors.css");

button.button-icon {
  padding: 0.8rem;
}

.button-icon.huge {
  padding: 1.6rem;
}

.purple {
  background-color: var(--primary-1);
  border-color: var(--primary-1);
  box-shadow: none;
}

/* .purple.glowing,
.purple:hover {
  box-shadow: 0px 0px 1rem var(--primary-1);
} */

.green {
  background-color: var(--primary-0);
  border-color: var(--primary-0);
  box-shadow: none;
}
.green.glowing,
.green:hover {
  box-shadow: 0px 0px 1rem var(--primary-0);
}

.button.black {
  color: var(--text-black);
  background-color: var(--light);
  border-color: var(--light);
  box-shadow: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.black.glowing,
.black:hover {
  box-shadow: 0px 0px 1rem var(--light);
}
