@import url("../../colors.css");

.progress-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bg {
  position: absolute;
  z-index: 0;
  background-color: var(--border);
  display: flex;
}

.progress-accent {
  position: absolute;
  background: linear-gradient(210deg, var(--primary-1), var(--primary-0));
}
