BasedOnStyle: Google
AccessModifierOffset: -4
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 8
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty

IncludeCategories:
  - Regex: <pybind11/pybind11[.]h>|<Python[.]h>
    Priority: 1
  - Regex: '<(spdlog|boost|magic_enum|gmock|gtest|pybind11|Python).+>'
    Priority: 3
  - Regex: '<.+>'
    Priority: 2
  - Regex: '.+'
    Priority: 4
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'type', 'const', 'volatile' ]
SeparateDefinitionBlocks: Always
