BasedOnStyle: Google
AccessModifierOffset: -4
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 8
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
IncludeCategories:
  - Regex: '<(easylogging|boost|better-enums|gmock|gtest|pybind11).+>'
    Priority: 2
  - Regex: '<.+>'
    Priority: 1
  - Regex: '.+'
    Priority: 3
