@import url("../../colors.css");

.file-name-wrapper .filename,
.file-name-wrapper .glow {
  width: 30rem;
  padding: 0.8rem;
  height: 2.7rem;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 1000px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  background-color: var(--border);
  display: flex;
  align-items: center;
  white-space: pre;
  transition: 0.3s;
}

.file-name-wrapper .outline {
  padding: 0.15rem;
  height: 3rem;
  width: 30rem;
}


.file-name-wrapper .gradient-fill {
  background: linear-gradient(210deg, var(--primary-1), var(--primary-0));
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow-wrap: break-word;
}

.error {
  background: var(--error);
}

.inactive {
  color: var(--text-grey);
}

.active {
  color: var(--text-white);
}

.highlight-purple {
  color: var(--text-highlight-2);
}

.highlight-green {
  color: var(--text-highlight-1);
}

.highlight-red {
  color: var(--error);
}

.file-name-wrapper {
  position: relative;
  transition: 0.3s;
  border-radius: 1000px;
}

.file-name-wrapper:hover {
  transform: scale(1.005);
}

.file-name-wrapper > * {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  cursor: pointer;
  transition: 0.3s;
}

.file-name-wrapper .glow {
  position: absolute;
  z-index: 0;
  filter: blur(0.6rem);
}
