@import url("../../colors.css");

.wrapper {
  padding: 0.2rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.wrapper.error {
  background: var(--error);
}

.error {
  background: var(--error);
}

.filename {
  margin: 0;
  text-align: left;
  width: 30rem;
  transition: 0.3s;
  white-space: normal;
  background-color: var(--border);
}

.filename.glow {
  font-size: 1.1rem;
  transform: translateX(4.1rem);
}

.inactive {
  color: var(--text-grey);
}

.active {
  color: var(--text-white);
}

.hilight-purple {
  color: var(--text-highlight-purple);
}

.hilight-green {
  color: var(--text-highlight-green);
}

.hilight-red {
  color: var(--error);
}

.file-name-wrapper {
  position: relative;
  transition: 0.3s;
}

.file-name-wrapper:hover {
  transform: scale(1.005);
}
