@import "../../variables.scss";

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 0.1rem;
  background: $border;
  outline: none;
  opacity: 1;
  margin: 0rem 0.8rem;
  width: 15rem;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.4rem;
    height: 1.5rem;
    background: $button-white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1000px;
  }

  &::-moz-range-thumb {
    width: 0.4rem;
    height: 1.5rem;
    background: $button-white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1000px;
  }
}
