@import url("../../colors.css");

.dependency {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.dependency:hover {
  transform: translateX(0.5rem);
}

.dependency .attribute-name {
  font-family: var(--font-content);
  font-weight: 300;
  font-size: 1.1rem;
  border-radius: 1000px;
  padding: 0.6rem 1.8rem;
  margin: 0.4rem 0.5rem;
  color: var(--text-black);
  background-color: var(--light);
  cursor: pointer;
  transition: 0.3s;
}

.dependency .attribute-name.active {
  color: var(--text-white);
  background-color: var(--primary-1);
  cursor: default;
}

.dependency .arrow {
  width: 5rem;
  margin: 0.3rem 0.5rem;
  stroke: var(--light);
  transition: 0.3s;
}

.dependency .arrow.active {
  stroke: var(--primary-1);
}
