@import url("../../colors.css");

.attribute {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background-color: var(--light);
  font-family: var(--font-content);
  font-size: 0.8rem;
  color: var(--text-black);
  padding: 0.3rem 0.7rem;
  margin: 0.3rem 0.3rem;
  transform: scale(1);
  transition: 0.3s;
}

.attribute:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.attribute button {
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  padding: 0.3rem;
  margin: 0;
  box-shadow: none;
  border: none;
  margin-left: 0.3rem;
}
