@import url("../../colors.css");

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem;
}

.search-input {
  font-weight: 300;
  background-color: var(--light);
  border: none;
  padding: 0.8rem 1.6rem;
  font-family: var(--font-content);
  border-radius: 1000px;
}

.search-input:focus {
  outline: none;
}
