.icon {
  height: 1.4rem;
  width: 1.4rem;
}

.button-icon {
  padding: 0.8rem;
}

.purple {
  background-color: var(--purple);
  border-color: var(--purple);
  box-shadow: 0px 0px 1rem var(--purple);
}
