@import url("../colors.css");

.gradient-glow {
  position: relative;
}

.gradient-fill {
  color: var(--text-white);
  font-weight: 300;
  background: linear-gradient(210deg, var(--purple), var(--green));
  font-size: 2.5rem;
  padding: 0.6rem 3rem;
  position: relative;
  cursor: default;
  transition: 0.3s;
}

.glow {
  z-index: 0;
  position: absolute;
  filter: blur(1.5rem);
}

.disabled {
  filter: saturate(30%);
  transition: 0.3s;
  cursor: default;
}

.disabled:hover {
  cursor: default;
}
