@import "../colors.css";

.bg-light {
  background-color: var(--background-light);
  width: 100%;
  min-height: calc(100vh - 6.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* overflow: scroll; */
}

.charts {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1.bottom-title {
  color: var(--text-black);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.5vh;
}

.charts-with-controls {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bottom-title {
  color: var(--text-black);
  font-weight: 500;
}
