@import "../../variables.scss";

.status-display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-content;
  font-weight: 400;
  font-size: 4rem;
  position: absolute;
  z-index: 1;
  transition: 0.3s;

  img {
    height: 3rem;
    width: 3.5rem;
    margin-left: 1rem;
  }
}
