@import url("./colors.css");

.App {
  background-color: var(--background-dark);
  height: calc(400vh - 6.5rem);
  /* height: 400vh; */
  display: flex;
  flex-direction: column;
}

.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-white);
  font-family: var(--font-content);
  font-size: 2rem;
  font-weight: 300;
  padding: 0 1rem;
}

header .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .left * {
  margin-left: 1rem;
}

header .left h1 {
  font-size: 2rem;
}

/* header h1 {
  font-fm
} */

.logo-medium {
  width: 4rem;
}

.top-bar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background-dark);
}
