@import url("./colors.css");

header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-white);
  font-family: var(--font-content);
  font-size: 2rem;
  font-weight: 300;
  padding: 0 1rem;
}

header .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .left * {
  margin-left: 1rem;
}

header .left h1 {
  font-size: 2rem;
}

.logo-medium {
  width: 4rem;
}

.top-bar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background-dark);
}

/* =====NEW===== */

/* ======| SCREEN I |====== */

.value {
  border-width: 0.15rem;
  border-style: solid;
}

/* ======| SCREEN II |====== */

/* ======| SCREEN III |======  */

/* ======| SCREEN IV |======  */
