:root {
  /* Fonts */
  --font-display: "Patua One", cursive;
  --font-content: "Roboto", sans-serif;

  /* Colors */
  /* Text */
  --text-white: #ffffff;
  --text-grey: #969696;
  --text-black: #000000;
  --text-highlight-1: #63a67e;
  --text-highlight-2: #8963a6;
  
  /* Background */
  --background-dark: #17151a;
  --background-active: #1b181e;
  --background-light: #ffffff;
  --light: #e5e5e5;
  --border: #2c2730;
  --border-active: #403946;

  /* Primary */
  --primary-0: #40c977;
  --primary-1: #7600d1;
  --primary-2: #b700ff;
  
  /* Semantics */
  --error: #f03c3c;

  /* Chart */
  --chart-other: #969696;
  --chart-0: #ff5757;
  --chart-1: #575fff;
  --chart-2: #4de3a2;
  --chart-3: #edc645;
  --chart-4: #d159de;
  --chart-5: #32bbc2;
  --chart-6: #ffa857;
  --chart-7: #8dd44a;
  --chart-8: #6298d1;
}
