@import url("../../colors.css");

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0rem;
  /* width: 35vw; */
  height: 80%;
  /* margin-top: 3rem; */
}

.form-item {
  display: flex;
  align-items: center;
  width: 100%;
}

h3 {
  color: var(--text-white);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0rem 0.8rem;
}
