@import url("../../colors.css");

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem 0rem;
  height: 80%;
}

.form-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-item {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin: 1.4rem 1rem;
}

h3 {
  color: var(--text-white);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0rem 0.8rem;
}
