@import url("../../colors.css");

.value {
  text-align: center;
}

.value:focus {
  background-color: var(--background-active);
  border-color: var(--border-active);
  outline: none;
}

.value.invalid {
  border-color: var(--error);
}

.value.invalid:focus {
  background-color: var(--background-active);
}
