@import "../../variables.scss";

.value {
  position: relative;
  z-index: 1;
  font-family: $font-content;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  height: 3rem;
  font-weight: 300;
  border-radius: 1000px;
  cursor: pointer;
  border: 0.12rem solid $border;
  color: $text-grey;
  background-color: #00000000;
  backface-visibility: hidden;
  transition: 0.3s;

  &:focus {
    background-color: $background-active;
    border-color: $border-active;
    color: $text-white;
    outline: none;
  }

  &.invalid {
    border-color: $error;
    color: $error;
  }
}
