@import "../../variables.scss";

.popup-window-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000aa;

  .popup-window {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: $background-dark;
    border-radius: 2rem;
  }
}
