@import url("../../colors.css");

input.button.radio-light.unchecked {
  border-color: var(--text-grey);
  color: var(--text-grey);
}

input.button.radio-light.unchecked:hover {
  border-color: var(--text-grey);
  background-color: rgba(0, 0, 0, 0);
}
