@import url("../../colors.css");

.toggle-container {
  margin: 0rem 0.8rem;
  position: relative;
}

.toggle-container * {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  height: 3rem;
  font-weight: 300;
  border-radius: 1000px;
  cursor: pointer;
  border: 0.12rem solid var(--border);
  color: var(--text-grey);
  background-color: #00000000;
  backface-visibility: hidden;
  transition: 0.3s;
}

.toggle-container *:hover {
  transform: scale(103%);
}

.toggle-container *.enabled {
  color: var(--text-white);
  border-color: #0000;
}

.toggle-container *.enabled.color-0 {
  background-color: var(--primary-0);
}
.toggle-container *.enabled.color-1 {
  background-color: var(--primary-1);
}
.toggle-container *.enabled.color-gradient {
  background: linear-gradient(45deg, var(--primary-0), var(--primary-1));
}

.toggle-container .glow {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}