@import url("../../colors.css");

.error-bg {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-dark);
}

.error-bg .error-message {
  width: 40rem;
  font-family: var(--font-content);
  color: var(--text-white);
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
}
.error-bg .error-message img {
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
}

.error-bg .error-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.error-message span {
  color: var(--error);
  font-weight: 400;
}