name: CMake
on:
  pull_request:
    types: [opened, synchronize, reopened]
    #paths-ignore:
      #- docs/**
      #- README.md
      #- README_PYPI.md
      #- cli/**
      #- images/**
      #- .gitignore
      #- COPYING
      #- pyproject.toml
      #- examples/**
  push:
    branches:
      - main
    #paths-ignore:
      #- docs/**
      #- README.md
      #- README_PYPI.md
      #- cli/**
      #- images/**
      #- .gitignore
      #- COPYING
      #- pyproject.toml
      #- examples/**
  workflow_dispatch:
    inputs:
      parallel-tests:
        type: boolean
        default: true
        description: "Run tests in parallel"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  # Cancel in-progress runs when a new workflow with the same group name is triggered
  cancel-in-progress: true
  
jobs:
  run_tests:
    name: Run core-tests on ${{ matrix.system.os }} with ${{ matrix.system.toolset }}, ${{matrix.cfg.BUILD_TYPE}} ${{ matrix.cfg.SANITIZER }}
    continue-on-error: true
    strategy:
      matrix:
        system:
          - os: ubuntu-latest
            toolset: gcc
            env: CXX=g++-10

          - os: ubuntu-latest
            toolset: llvm-clang
            env: CXX=clang++-20 CXXFLAGS="-stdlib=libc++" LDFLAGS="-lc++abi"

          # Uncomment this to enable macOS GCC tests:
          # - os: macos-latest
          #   toolset: gcc
          #   env: CXX=g++-14 BOOST_ROOT=/usr/local
          #   runtime-env: DYLD_LIBRARY_PATH=/usr/local/lib:${DYLD_LIBRARY_PATH}

          # Uncomment this to enable macOS LLVM Clang tests:
          # - os: macos-latest
          #   toolset: llvm-clang
          #   env: CXX=$(brew --prefix llvm@17)/bin/clang++ CXXFLAGS="-I$(brew --prefix llvm@17)/include" \
          #     LDFLAGS="-L$(brew --prefix llvm@17)/lib/c++" BOOST_ROOT=/usr/local
          #   runtime-env: DYLD_LIBRARY_PATH=/usr/local/lib:${DYLD_LIBRARY_PATH}

          - os: macos-latest
            toolset: apple-clang
            env: CXX=clang++

        cfg:
          - { BUILD_TYPE: Release }
          - { BUILD_TYPE: Debug }
          - { BUILD_TYPE: DebugSan }

    runs-on: ${{ matrix.system.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        uses: ./.github/composite-actions/install-dependencies
        with:
          os: ${{ matrix.system.os }}
          toolset: ${{ matrix.system.toolset }}
      - name: Build
        shell: bash
        run: |
          export ${{ matrix.system.env }}
          cmake --preset ${{matrix.cfg.BUILD_TYPE}}
          cmake --build --preset ${{matrix.cfg.BUILD_TYPE}}
      - name: Test
        shell: bash
        run: |
          export ${{ matrix.system.runtime-env }}

          if [[ "${{ inputs.parallel-tests }}" != "false" ]]; then
            export CTEST_ARGS="-j ${nproc}"
          fi
          
          ctest --preset ${{matrix.cfg.BUILD_TYPE}} $CTEST_ARGS
