name: CMake
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - docs/**
      - README.md
      - README_PYPI.md
      - cli/**
      - examples/**
      - images/**
      - .gitignore
      - COPYING
      - pyproject.toml
  push:
    branches:
      - main
    paths-ignore:
      - docs/**
      - README.md
      - README_PYPI.md
      - cli/**
      - examples/**
      - images/**
      - .gitignore
      - COPYING
      - pyproject.toml
  workflow_dispatch:
jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cfg:
          - { BUILD_TYPE: Release }
          - { BUILD_TYPE: Debug }
          - { BUILD_TYPE: Debug, SANITIZER : ADDRESS }
          - { BUILD_TYPE: Debug, SANITIZER : UB }
    steps:
      - uses: actions/checkout@v3
      - name: Download libraries
        uses: ./.github/composite-actions/download-libraries
      - name: Download datasets
        uses: ./.github/composite-actions/download-datasets
      - name: Build
        run: |
          if [[ "${{matrix.cfg.BUILD_TYPE}}" == "Debug" ]]; then
            ./build.sh --debug --sanitizer=${{ matrix.cfg.SANITIZER }}
          else
            ./build.sh
          fi
      - name: Test
        working-directory: ${{github.workspace}}/build/target
        shell: bash
        run: ./Desbordante_test --gtest_filter='*:-*HeavyDatasets*'
