name: Post clang-tidy review comments

on:
  workflow_run:
    workflows: ["Codestyle"]
    types:
      - completed

permissions:
  pull-requests: write
  issues: write
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: ZedThree/clang-tidy-review/post@v0.13.4
        id: post
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          lgtm_comment_body: ''
