@import url("../../colors.css");

.dependency-list-full {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  width: 95%;
}

.dependency-list-full > * {
  margin: 0.8rem 0rem;
}

.sort h3 {
  color: var(--text-black);
  margin-left: 0;
}

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* hide scrollbar but allow scrolling */
.dependency-list {
  height: 50vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.dependency-list::-webkit-scrollbar {
  display: none;
}
